/stanfordSentimentTreebank.zip
stanfordSentimentTreebank/
/.assn1_env/
/q1_softmax.py~
utils/datasets/glove.6B.50d.txt
utils/datasets/glove.6B.50d.txt
/q2_sigmoid.pyc
/q1_softmax.pyc
/q2_gradcheck.pyc
/q2_neural.pyc
/q3_sgd.pyc
/q3_word2vec.pyc
/saved_params_5000.npy
/utils/__init__.pyc
/utils/treebank.pyc

*.npy
*.png
*.pyc
/q4_dev_pred.txt
/.DS_Store
